Combined Files get not cached because of GET-parameter

In line 278 and 346 you add a GET-parameter to the final url. This parameter prevents the caching as http://httpd.apache.org/docs/current/caching.html stated:

> If the URL included a query string (e.g. from a HTML form GET method) it will not be cached unless the response specifies an explicit expiration by including an "Expires:" header or the max-age or s-maxage directive of the "Cache-Control:" header, as per RFC2616 sections 13.9 and 13.2.1.

Your GET-parameter is also unnecessary imo because the file already creates in dependence of the single modification times of all combined files.  
